*{
    padding:0;
    margin:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box; 
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin:100px auto ;
    border-radius: 20px;
    padding: 40px 35px;
    
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50% ;
    width: 60px;
    height:60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature{
    display: flex;
    flex-direction: column;
}
.t{
    font-size: 60px;
    margin: auto;
}
.city{
    margin: auto;
    font-size: 40px;
}
.explain{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
    
}
.humid,.wind{
    padding: 20px;
    display: flex;
    flex-direction: column;


}
.wind{
    width: 50%;
}
.d{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;

}
.d img{
    width: 40%;
}
.wind img{
    width: 30%;
}
.image{
    text-align: center;
    margin: 20px 0px;
}

.d span{
    font-size: x-large;
}
#c{
    margin: auto;
    margin-top: 10px;

}
.weather{
    display:none;

}


